<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OpenSC2Kv2.Game.GameSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <OpenSC2Kv2.Game.GameSettings>
            <setting name="InstallDir" serializeAs="String">
                <value>E:\Games\SC2K\</value>
            </setting>
        </OpenSC2Kv2.Game.GameSettings>
    </applicationSettings>
</configuration>